 <! DOCTYPE html>
<html>
<head>
	<title>Gogo Rent</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="icon" type="image/gif" href="../images/favicon.png">

	<link rel="stylesheet" href="/stylesheets/style.css">

	<script 
	  src="https://code.jquery.com/jquery-3.1.1.min.js" 
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
	  crossorigin="anonymous"></script>


    <script src="/javascripts/usercheck.js" async defer></script>
	<script src="/javascripts/search.js" async defer></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcWhzcS0fRqtT4czOHzFBfbw4PqiIhnk4&libraries=places"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



</head>



<body>


	<nav class="navbar navbar-default navbar-dark bg-dark navbar-expand-md fixed-top" >
	  <a class="navbar-brand" href="/cars/1">Gogo Rent</a>








	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/cars/1">Home</a>
	      </li>
	    </ul>

	  </div>
	</nav>