<% include partials/header %>

<div class="jumbotron">
  <br>
  <h2 class="display-4" sytle="margin-top: 20">Welcome to Gogo Rent</h2>
  <p class="lead">This is a list of most popular cars</p>
  <hr class="my-4">

  <%/* if(user && user.isAdmin) { %>
     <a class="btn btn-info btn-lg" href="cars/new" role="button">Add a new car</a>
   <% } */%>
  <p> </p>


  <br>
	<form action="/menus" method="GET" class="form-inline" id="menus-search">
		<div class="form-group">
			<input type="text" name="search" placeholder="dish search..." class="form-control">
			<select name="type" id="setected_type">
				<option value="all">All</option>
				<option value="FAMILY MEALS">FAMILY MEALS</option>
				<option value="FIT BOWLS">FIT BOWLS</option>
				<option value="PIADAS">PIADAS</option>
				<option value="SALADS">SALADS</option>
				<option value="STREET SIDES">STREET SIDES</option>
				<option value="BEVERAGES">BEVERAGES</option>
			</select>
		</div>
	</form>
</div>



<!-- <div class="container">
	<div class="row"> -->
		<%/* menus.forEach(function(menu){ */%>
			<!-- <div class="sm-col-3"> -->
				<!-- <img src="images/<%# menu.image %>" style="width:200px; height:200px;" class="img-thumbnail"/> -->
				<!-- <div class="caption"><a href="menus/<%# menu._id %>"><%# menu.name %></a></div> -->
			<!-- </div> -->
		<%/* }); */%>
<!-- 	</div>
</div> -->


<div class="container">

	<div class="row" id="menus-grid">
		<% menus.forEach( menu => { %>

			<!-- <%# if (user && user.isAdmin) {%> -->
				<!-- <div class="md-col-4" style="margin-left: 5%"> -->
					<!-- <a href="menus/<%# menu._id %>"> -->
						<!-- <img src="../images/<%# menu.image %>" style="width:290px; height:230px;"/> -->
					<!-- </a> -->

					<!-- <div class="caption" style="text-align: center; font-size: 1.2rem" ><a href="menus/<%# menu._id %>"> <%# menu.model %></a></div> -->
				<!-- </div> -->
			<!-- <%# } else { %> -->


				<% if (menu.inventory > 0) {%>

					<div class="md-col-4" style="margin-left: 5%">
						<a href="menus/<%= menu._id %>">
							<img src="../images/<%= menu.image %>" style="width:290px; height:230px;"/>
						</a>

						<div class="caption" style="text-align: center; font-size: 1.2rem">
							<a href="menus/<%= menu._id %>"> <%= menu.name %></a>
						</div>
					</div>
				<% } %>
			<!-- <%# } %> -->

		<% }); %>
	</div>
</div>


<br>
<br>
<br>


<br>
<br>



<% include partials/footer %>

