<% include partials/header %>

<h1 style="text-align: center; margin-top: 70px;" >User Sign up</h1>

<div style="width: 30%; margin: 25px auto;">

    <form action="/register" method="POST">
      <div class="form-group tmp">
        <input type="text" name="username" id="rusername" class="form-control" placeholder="Enter username">
          <span id="usernameErr"></span>
      </div>
      <div class="form-group tmp">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        <span id="result"></span>
      </div>
      

      <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
    <a href="/menus">Go Back</a>
</div>

<script type="text/javascript">

$(document).ready(function() {
    var username_state = false;
    var email_state = false;

    $('#password').keyup(function() {
        $('#result').html(checkStrength($('#password').val()));
        if($("#result").text() == "Your password should include at least 6 characters"){
            $('button').hide();
        }else if ($('#usernameErr').text() ==="Valid Username"){
            $('button').show();
        } 
    });

    $('#password').focus(function() {
        $('button').hide();
    });

    function checkStrength(password) {
        var strength = 0
        if (password.length < 6) {
            $('#result').removeClass()
            $('#result').addClass('short')
            return 'Your password should include at least 6 characters'
        }
        if (password.length > 7) strength += 1
        // If password contains both lower and uppercase characters, increase strength value.
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
        // If it has numbers and characters, increase strength value.
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
        // If it has one special character, increase strength value.
        if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
        // If it has two special characters, increase strength value.
        if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
        // Calculated strength value, we can return messages
        // If value is less than 2
        if (strength < 2) {
            $('#result').removeClass()
            $('#result').addClass('weak')
            return 'Weak'
        } else if (strength == 2) {
            $('#result').removeClass()
            $('#result').addClass('good')
            return 'Good'
        } else {
            $('#result').removeClass()
            $('#result').addClass('strong')
            return 'Strong'
        }
    }

});

$('#rusername').blur(function() {
    var username = $(this).serialize();
    if(username==="username=") {
        // alert("empty");
        $('#usernameErr').text("Username cannot be empty");
        $('button').hide();
    }
    else {
        $.get('/register?' + username, function(response) {
            if (response.message === 'user exists') {
                $('#usernameErr').text(response.message);
                $('button').hide();
            } else {
                $('#usernameErr').text("Valid Username");
                $('button').show();
            }
        }); 
    } 
});

$('#rusername').submit(function(event) {
    event.preventDefault();
});

</script>


<% include partials/footer %>