<% include partials/header %>
<br><br><br>
<div class="container">
    <h1>Hello <%= user.username%>!</h1>
    <h2>Your order has been made!</h2>
    <hr>
    <a href="/menus" class="btn btn-primary">Back to Home</a>
</div>

<br><br><br>
<% include partials/footer %>